// nastavit rozliseni pro jednotlive breakpointy bp <800px ; <1000px
// udelat hoverable menu
// prikotvit menu k horni hrane pri scrollu

.top-header {
  //vertical-align: middle;
  line-height: 45px;
  //border: 1px solid yellow;
  display: flex;
  justify-content: center;
}

#contact-box  {
  color: #4c413d;
  width: 32rem;
  //border: 1px solid green;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  //font-family: PlutoLight;
}
#contact-box a:link {
  color: #4c413d;
}

#navi-header {
  height: 60px;
  display: flex;
  align-items: center;
  //border: 1px solid green;
}

.auto-size {
  display: block;
  max-height: 50px;
  vertical-align: middle;
  margin: auto;
  padding: 0px;
}

#navi-header .glyphicon{
  line-height: 40px;
  color: #dca16b;
  font-size: 2.5rem;
  float: left;
  //border: 1px solid red;
}

body #cart, body #wishlist, body #searchbox-cont {
  border: 1px solid #b8b8b8;
  border-radius: 3px;
  height: 45px;
  padding-left: 1rem;
  //display: block;
  color: gray(40);
  font-size: 1.5rem;
}

button {
  margin-right: 0px;
  //border: 1px solid red;
}
#searchbox-cont input {
  margin: auto;
  padding: auto;
  width: 100%;
  height: 100%;
  border: none;
}

.navigation {
  background: #4c413d;
  border: none;
  //border-radius: 0px;
  font-size: 2rem;
}

.navigation ul li a {
  color: white;
}

ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #4c413d;
}

li {
  display: flex;
  margin: auto;
}
.nav > li > a:hover {background: #dca16b;
}

.bubble {
  border-radius: 12px;
  background-color: #f05a67;
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

.full-width {
  width: 100%;
}