<header>
    <div class="container">
        <div class="row">
            <div class="top-header col-md-12 visible-md visible-lg">
                <div id="contact-box">
                    <a href="mailto:info@vivantis.cz"><span class="glyphicon glyphicon-envelope"></span>
                        info@vivantis.cz</a>
                    <span>10-18 hod.</span>

                    <a href="tel:468 006 315"><span class="glyphicon glyphicon-earphone"></span> 468 006 315</a>
                </div>
            </div>
        </div>
        <div id="navi-header" class="row">
            <div class="col-xs-12 col-sm-4">
                <a href="/">
                    <img class="auto-size" src="/img/logo_vivantis-cz.svg">
                </a>
            </div>
            <div class="col-xs-1 col-sm-5">
                <div id="searchbox-cont">
                    <form action="/search" method="get">
                        <input type="text" placeholder="Zadejte hledany vyraz..">
                        <!-- <button type="button">?
                        <!--    <span class="glyphicon glyphicon-search"></span>
                        </button> -->
                    </form>
                </div>
                <!--
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                -->
            </div>
            <div class="col-xs-1 col-sm-1">
                <div id="wishlist">
                    <a href="/wishlist">
                        <span class="glyphicon glyphicon-heart"></span>
                        <span class="bubble">0</span>
                    </a>
                </div>
            </div>
            <div class="col-xs-1 col-sm-2">
                <div id="cart">
                    <a>
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        <span class="bubble">0</span>
                        <h6 class="text-center text-nowrap">kosik je prazdny</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <nav class="navigation">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="true">INSPIRACE <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">polozka 1</a></li>
                            <li><a href="#">polozka 2</a></li>
                            <li><a href="#">polozka 3</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">polozka 4</a></li>
                        </ul>

                    </li>
                    <li><a href="#">ŽENY</a></li>
                    <li><a href="#">MUŽI</a></li>
                    <li><a href="#">DĚTI</a></li>
                    <li><a href="#">NOVINKY</a></li>
                    <li><a href="#">SLEVY</a></li>
                    <li><a href="#">ZNAČKY</a></li>
                </ul>
            </nav>
        </div>
    </div <!-- /container -->
</header>
